body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 13px;
  --color: #eee;
  color: var(--color);
  background: none; /* Elimina cualquier fondo que esté aplicado */
}


a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 0;
  text-align: left;
}

/* Estilos para el banner */
section.banner {
  position: relative;
  height: 70vh; /* Mantén la altura ajustada */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido al inicio, hacia la parte superior */
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 20px; /* Ajusta este valor para agregar o quitar espacio arriba */
}

/* Video de fondo */
.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra toda la sección */
  z-index: -1; /* Envía el video al fondo */
}

/* Capa de opacidad sobre el video */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la transparencia según lo necesites */
  z-index: 0; /* Justo encima del video */
}

/* Contenido del banner (logo, texto y botón) */
.banner-content {
  position: relative;
  z-index: 1; /* Asegura que esté sobre el video y la capa de opacidad */
}

section.banner .logo {
  width: 300px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-bottom: 0px; /* Espacio entre el logo y el h1 */
}

section.banner h1 {
  font-size: 50px;
  color: white; /* Puedes cambiar el color según lo necesites */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: -30px;
}

section.banner h2 {
  font-size: 30px;
  color: white; /* Puedes cambiar el color según lo necesites */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
}

section.banner a {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f1c40f;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  border: none;  /* Asegura que no haya borde */
  outline: none; /* Elimina el contorno (círculo) cuando el ratón pasa por encima o se hace clic */
}

section.banner .btn {
  margin-top: 20px;
  padding: 15px 25px;
  background: linear-gradient(45deg, #d4af37, #f5c032); /* Degradado dorado */
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

section.banner .btn:hover {
  background: linear-gradient(45deg, #f5c032, #d4af37); /* Efecto de inversión del degradado */
  box-shadow: 0 0 20px 8px rgba(255, 215, 0, 0.6); /* Resplandor dorado alrededor del botón */
  color: white;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para que el video cubra el fondo sin distorsionarse */
}

/* Slider título */
.slider-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1200px; /* Define un ancho máximo */
  margin: 0 auto; /* Centra todo el contenedor */
}

.slider-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.slider-title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
  transition: height 0.3s ease-in-out;
}

/* Estructura del slider: 2 columnas, 2 filas */
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 30px; /* Espacio entre columnas */
  max-width: 1100px; /* Límite del ancho del contenido */
  margin-left: auto;
  margin-right: auto; /* Centra la fila */
  margin-bottom: 50px;
}

.info-row.reverse {
  flex-direction: row-reverse;
}

.slider-with-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48%; /* Reduce el ancho del slider */
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

/* Flechas de navegación */
button.prev,
button.next {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 20px;
  color: white;
  transition: color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

button.prev {
  left: -10px;
}

button.next {
  right: -10px;
}

button.prev:hover,
button.next:hover {
  color: #000;
}

/* Texto slider */
.info-text {
  flex: 1;
  padding: 20px;
  max-width: 48%; /* Asegura que el texto no ocupe toda la fila */
  text-align: left;
}

.info-text h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.info-text p {
  font-size: 16px;
  color: #555;
}

#reservation-btn {
  margin-top: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#reservation-btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}



nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: var(--color);
  font-size: 16px;
}


/* Estilo reservas */
section.reservation {
  text-align: center;
  padding: 50px 0;
  background-color: #f4f4f4;
  margin-top: 30px;
}

section.reservation h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: black;
  position: relative; /* Necesario para posicionar la línea debajo */
}

section.reservation h2::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Ajusta la distancia entre el texto y la línea */
  left: 50%; /* Centra la línea */
  transform: translateX(-50%);
  width: 20%; /* La línea ocupará el 20% del ancho del texto */
  height: 2px; /* Grosor de la línea */
  background: linear-gradient(to right, transparent, #333, transparent);
  transition: height 0.3s ease-in-out;
}

.calendar-container {
  display: inline-block;
  margin: 20px 0;
  margin-bottom: 30px;
}

#reservation-date {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 2px solid #d4af37;
  border-radius: 10px;
  outline: none;
  margin-bottom: 30px;
}

#reservation-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #d4af37, #f5c032); /* Degradado dorado */
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: not-allowed; /* Cambiar el cursor cuando esté deshabilitado */
}

#reservation-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#reservation-btn:hover {
  background: linear-gradient(45deg, #f5c032, #d4af37); /* Efecto de inversión del degradado */
  box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.6); /* Resplandor dorado alrededor del botón */
  color: #000;
}

#reservation-btn:hover::before {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}

#reservation-btn:disabled {
  background: linear-gradient(45deg, #ccc, #aaa); /* Fondo para el estado deshabilitado */
  cursor: not-allowed; /* Cursor deshabilitado */
  box-shadow: none; /* Eliminar la sombra cuando está deshabilitado */
}



.map-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
  justify-content: center; /* Centra todo el contenido */
}

.map-container {
  width: 500px; /* Tamaño del mapa (ajústalo como desees) */
  height: 500px; /* Mismo valor para obtener un cuadrado */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centra el mapa dentro de su contenedor */
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.form-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;
  margin-bottom: 40px;
}

label {
  font-weight: bold;
  color: black;
}

input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* Estilo para el botón en el formulario */
.form-button {
  margin-top: 20px;
  padding: 15px 25px;
  background: linear-gradient(45deg, #d4af37, #f5c032); /* Degradado dorado */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  display: inline-block; /* Para que el botón no ocupe todo el ancho */
  max-width: 250px;
  
}

.form-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.form-button:hover {
  background: linear-gradient(45deg, #f5c032, #d4af37); /* Inversión del degradado */
  box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.6); /* Resplandor dorado alrededor del botón */
  color: #000;
}

.form-button:hover::before {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}

/* Estilo general del footer */
footer {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Color de texto blanco */
  padding: 20px 0; /* Espaciado superior e inferior */
}

.footer-container {
  display: flex; /* Flexbox para dividir en columnas */
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Espaciado interno */
}

.footer-left {
  width: 50%; /* 50% de ancho */
}

.footer-logo {
  max-width: 100px; /* Ajusta el tamaño del logo */
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 15px; /* Espaciado entre los iconos */
}

.social-icons img {
  width: 30px; /* Tamaño de los iconos */
  height: 30px; /* Tamaño de los iconos */
}

.contact-email, .location {
  margin-top: 10px;
}

.footer-right {
  width: 50%; /* 50% de ancho */
  /* Aquí puedes agregar más contenido si lo deseas */
}

/* CONFIGURACIÓN PANTALLA MOVILES */


/* Media Query para móviles */
@media (max-width: 768px) {
  .banner-content h1, .banner-content h2 {
    font-size: 20px;
  }

  .info-row {
    display: block;
    padding: 10px;
  }

  .info-text {
    margin-top: 20px;
  }

  .slider-with-arrows {
    width: 100%;
    position: relative;
  }

  .slider img {
    width: 100%;
    height: auto;
  }

  .map-container iframe {
    width: 100%;
    height: 200px;
  }

  .form-container form {
    width: 100%;
  }

  .footer-container {
    display: block;
    text-align: center;
  }
}

/* Media Query para tablets */
@media (max-width: 1024px) {
  .info-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .slider-with-arrows {
    width: 80%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .footer-left {
    width: 50%;
  }

  .footer-right {
    width: 50%;
  }
}

