body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg, /* Ángulo de la línea diagonal */
    #ffffff 30%, /* Color del lado superior izquierdo */
    #0A1A26 30% /* Color del lado inferior derecho */
  );
  font-family: Arial, sans-serif; /* O cualquier fuente que uses */
}

.text-center2 {  
color:white !important;
margin-top: 150px;
text-align: center;
}
.text-center p{
  color: white;
}
.row {
  margin-bottom: 30px;
}
/* Mapa */
/* Tarjeta del mapa */
.card {
  width: 100%; /* Ajusta el ancho de la tarjeta */
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
              0 0 0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* Contenedor del mapa */
.map-container {
  border-radius: 0; /* Bordes redondeados para el contenedor */
  overflow: hidden; /* Asegura que el mapa se ajuste a los bordes de la tarjeta */
}

/* Estilo del iframe del mapa */
.map-container iframe {
  width: 100%;
  height: 300px;
  border: none; /* Quita el borde predeterminado */
}

.mt-5{
  margin-top: 0;
}
.mb-4 {
  margin-top: 0;
}
/* Íconos */
.d-flex {
  gap: 20px;
}
.text-center i {
  color: white;
  margin-bottom: 5px;
  font-size: 2.5rem;
}
.text-center p {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
}

/* Estilos del formulario */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background: linear-gradient(
    to bottom,
    #0E222D, /* Azul inicial */
    #0A1A26, /* Azul ligeramente más oscuro */
    #06131E  /* Azul profundo */
  );    
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: white;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  outline: 1px solid white;
  transition: all ease-in-out 0.3s;
  padding-top: 10px;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
