:root {
    --menu-bg: #0E1724; /* Fondo oscuro */
    --menu-text: white;
    --menu-hover: #f1c40f;
    --dropdown-bg: rgba(0, 0, 0, 0.8);
    --dropdown-text: white;
    --altura_header: 80px; /* Altura del header */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
}

.header {
    height: var(--altura_header);
    background-color: var(--menu-bg);
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.topbar__logo {
    flex-shrink: 0;
    margin-right: auto; /* Coloca el logo al inicio */
}

.topbar__logo img {
    max-height: 60px;
    max-width: 200px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.label_hamburguesa {
    display: none;
    cursor: pointer;
    margin-left: auto; /* Empuja el menú hamburguesa a la derecha */

}

.menu_hamburguesa {
    display: none;
}

.ul_links {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    gap: 2rem;
    justify-content: flex-end; /* Asegura la alineación a la derecha */
    align-items: center;
    color: white;
}

.li_links {
    display: flex;
    align-items: center;
    align-items: center;
}

.li_links a {
    color: var(--menu-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    transition: color 0.3s ease;
}

.li_links a:hover {
    color: var(--menu-hover);
}

/* Dropdown */
.dropdown {
    position: relative;
}
.dropdown .value {
    display: flex;
    align-items: center;
    color: black; /* Cambia el color del texto a negro */
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background-color: white; /* Asegura un fondo blanco para el botón */
    border-radius: 5px; /* Bordes redondeados opcionales */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--dropdown-bg);
    border-radius: 5px;
    list-style: none;
    padding: 0;
    z-index: 1001;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: var(--dropdown-text);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: normal;
    color: black;
}

.flag-icon {
    width: 14px; /* Tamaño más pequeño para las banderas */
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    .label_hamburguesa {
        display: block;
        color: var(--menu-text);
        z-index: 1100;
    }

    .ul_links {
        display: none;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: var(--altura_header);
        right: 0;
        width: 100%;
        height: calc(100vh - var(--altura_header));
        justify-content: left;
        align-items: center;
        padding: 10px;
        z-index: 999;
    }

    .menu_hamburguesa:checked ~ .ul_links {
        display: flex;
    }

    .ul_links .li_links a {
        color: black;
        text-decoration: none;
        font-size: 1rem;
        padding: 10px 20px;
        text-align: left;
        width: 100%;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .ul_links .li_links a:hover {
        color: var(--menu-hover);
    }

    .dropdown {
        position: relative; /* Asegura que el menú se posicione relativo al contenedor */
        width: 100%; /* Haz que el dropdown ocupe todo el ancho */
    }

    .dropdown .value {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black; /* Cambia el color del texto a negro */
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        background-color: white; /* Asegura un fondo blanco para el botón */
        border-radius: 5px; /* Bordes redondeados opcionales */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
        width: 100%; /* Botón ocupa el mismo ancho que el contenedor */
        text-align: center;
    }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 5px); /* Posiciona el menú debajo del botón */
        left: 0; /* Alinea el menú al borde izquierdo */
        width: calc(100% - 20px); /* Ancho dinámico con márgenes */
        margin: 0 10px; /* Ajusta márgenes laterales */
        background-color: white; /* Fondo del menú */
        border-radius: 5px; /* Bordes redondeados */
        padding: 0;
        z-index: 1000; /* Coloca el menú por encima de otros elementos */
    }

    .dropdown-menu li {
        padding: 10px 15px;
        text-align: center;
    }

    .dropdown-menu li a {
        text-decoration: none;
        color: black; /* Texto en negro para los enlaces */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Espaciado entre el icono y el texto */
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .dropdown-menu li a:hover {
        background-color: #f1f1f1; /* Fondo gris claro al pasar el cursor */
        color: #333; /* Color del texto ligeramente más oscuro */
    }

    .flag-icon {
        width: 16px;
        height: auto;
        margin-right: 5px;
        vertical-align: middle;
    }
}

@media (min-width: 769px) {
    .ul_links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

