body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 16px;
  --color: #eee;
  color: var(--color);
  background: none;
  padding: 0;
  margin-top: 0 !important;
}

html {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

header {
  padding: 0;
  margin: 0;
  z-index: 9999;  /* Asegúrate de que el menú esté por encima de otros elementos */

}

section.banner {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
section.banner .logo {
margin-top: 20px;
}
.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.banner-content {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  padding-top: 0;

}
section.banner .logo {
  width: 10vw;
  height: auto;
  margin-bottom: 10px; /* Reduce el margen inferior de la imagen */
  margin-top: 40px;
}

section.banner h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px; /* Reduce el margen inferior */
  margin-top: 0;
}
section.banner h2 {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem; /* Reduce el margen inferior */
  margin-top: 0;
}
section.banner a {
  margin-top: 15px; /* Reduce el margen superior */
  padding: 10px 20px;
  background-color: #f1c40f;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  border: none;  
  outline: none; 
}

section.banner .btn {
  padding: 1rem 2rem;
  background: linear-gradient(45deg, #d4af37, #f5c032);
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  display: inline-flex; 
  justify-content: center; 
  align-items: center;   
}

section.banner .btn:hover {
  background: linear-gradient(45deg, #f5c032, #d4af37);
  box-shadow: 0 0 20px 8px rgba(255, 215, 0, 0.6);
  color: white;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contenedor del formulario incrustado */
.reservation-form-wrapper {
  position: absolute;
  top: 40vh; /* Ajusta según el tamaño del banner */
  left: 50%;
  transform: translate(-50%, -20%); /* Para centrar y hacerlo sobresalir */
  z-index: 5; /* Por encima del banner */
  width: 50%;
  background: transparent;
  padding: 0;
}

/* Estilo de la tarjeta del formulario */
.reservation-form-wrapper .card {
  background: white;
  box-shadow: none; /* Sin sombras */
  border-radius: 10px; /* Mantiene bordes redondeados */
  width: 100%; /* El formulario ocupa todo el ancho de la caja */
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center; /* Centra los elementos del formulario */
}

.reservation-form-wrapper .card-body {
  width: 100%; /* Formulario más ancho dentro de la caja */
  padding: 10px;
  background: white; /* Fondo blanco solo para el contenido del formulario */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Ajustes para el botón de reserva */
.reservation-form-wrapper .btn-form {
  display: block; /* Bloque para ocupar todo el ancho disponible */
  margin: 10px auto; /* Centrado horizontal automático */
  width: 45%; /* Ancho del botón */
  height: auto; /* Ajusta la altura al contenido */
  text-align: center; /* Alinea el texto dentro del botón */
  background: linear-gradient(45deg, #f5c032, #d4af37);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 5px;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.reservation-form-wrapper .btn-form:hover {
  background: linear-gradient(45deg, #d4af37, #f5c032);
  color: white;
  transform: scale(1.05); /* Efecto de ampliación */
}

#availability-calendar {
  width: 100%; /* Ajusta el ancho */
  max-width: 420px; /* Limita el ancho */
  padding: 10px;
  height: 282px; /* Altura del calendario */
  border: 1px solid #dcdcdc;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra compacta */
  background: white; /* Fondo blanco */
  margin: 10px auto; /* Centra el calendario */
  overflow: hidden; /* Elimina el scroll en el contenedor externo */
  z-index: 0;
  position: relative;
}
#availability-calendar .fc-scroller {
  max-height: 240px; /* Limita la altura interna para permitir el scroll */
  overflow-y: auto; /* Activa el scroll solo en este nivel */
}

/* Ajuste del scroll para mejor experiencia */
#availability-calendar::-webkit-scrollbar {
  width: 8px;
}
.mb-3 {
  margin-bottom: 0.2rem !important;
}
.reservation-form-wrapper .form-control {
  width: 100%; /* Mantiene el ancho completo */
  height: 30px; /* Reduce la altura */
  font-size: 0.9rem; /* Ajusta el tamaño de fuente */
  padding: 5px 10px; /* Reduce el padding interno */
  border-radius: 5px; /* Bordes ligeramente redondeados */
}

/* Etiquetas del formulario */
.reservation-form-wrapper .form-label {
  margin-bottom: 5px; /* Reduce espacio inferior */
  font-size: 0.85rem; /* Reduce el tamaño de fuente */
}

/* Ajuste general para filas */
.mb-3.row {
  margin-bottom: 20px; /* Espaciado menor entre filas */
}
.fc {
  font-size: 10px; /* Controla el tamaño de fuente */
}
.fc-header-toolbar {
  font-size: 10px; /* Ajusta el tamaño de la barra de herramientas */
}
.fc-day {
  min-width: 10px; /* Controla el tamaño mínimo de las celdas */
  max-width: 10px; /* Limita el ancho máximo */
}
.fc .fc-button {
font-size: 1em;
line-height: 1;
}

.fc-daygrid-day {
  height: 2.5rem; /* Altura de las celdas */
}
.date-picker {
  width: 100%;
  height: 40px;
}
.fc .fc-toolbar-title {
    font-size: 1.2rem;
    margin: 0px;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1rem;
  padding: 10px;
}


/* Contendor Slider */
.slider-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 20px;
  max-width: 100%;
  margin: 0;
  background: linear-gradient(
    to top,        /* Invertimos la dirección del degradado */
    #0E222D,       /* Azul inicial (coincide con el final de la anterior) */
    #0A1A26,       /* Azul ligeramente más oscuro */
    #06131E        /* Azul profundo */
  );
}

/* 1º slider */
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/* slider2*/
.info-row.reverse {
  display: flex; /* Usar flexbox para el alineamiento */
  flex-direction: row-reverse; /* Imagen a la derecha, texto a la izquierda */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin-top: 50px;
  margin-left: 0;
  gap: 30px; /* Espaciado entre la imagen y el texto */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* Imagen2 slider*/
.slider-with-arrows {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}
/* slider*/
.slider {
  display: flex;
  align-items: center;
  overflow: hidden; /* Oculta las tarjetas que están fuera del slider visible */
  width: 100%;
  border-radius: 15px;
}
.highlight-section {
  background: linear-gradient(
    to bottom,
    #0E222D,  /* Azul inicial */
    #0A1A26,  /* Azul ligeramente más oscuro */
    #06131E   /* Azul profundo */
  );
  padding-top: 1px; /* Agrega un pequeño relleno para evitar el colapso */
  overflow: hidden; /* Alternativa para evitar el colapso */
}
.highlight-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Asegura que las imágenes se ajusten correctamente */
}

/* slider img*/
.slides img {
  width: 100%; /* Ajusta el tamaño de las imágenes dentro del slider */
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 15px; /* Bordes redondeados para la tarjeta */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para un efecto visual suave */
}
.slides img:hover {
  transform: scale(1.05); /* Eleva la tarjeta al pasar el cursor */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Aumenta la sombra para mayor contraste */
}

/* Botones slider*/
button.prev,
button.next {
  background-color: rgba(0, 0, 0, 0.1); /* Fondo semi-transparente */
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  position: absolute; /* Botones dentro del slider */
  top: 50%; /* Centrados verticalmente */
  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.3s ease;
}
button.prev {
  left: 10px; /* Posición a la izquierda */
}
button.next {
  right: 10px; /* Posición a la derecha */
}
button.prev:hover,
button.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: var(--color);
  font-size: 16px;
}
/* texto slider*/
.info-text {
  flex: 1;
  padding: 20px;
  max-width: 48%;
  text-align: left;
}

.info-text h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.info-text p {
  font-size: 16px;
  color: white;
}
/* botons slider*/
.btn {
  margin-top: 20px auto;
  margin-bottom: 20px;
  padding: 15px 25px;
  background: linear-gradient(45deg, #d4af37, #f5c032);
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  display: block;
  max-width: 250px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  background: linear-gradient(45deg, #f5c032, #d4af37);
  box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.6);
  color: #000;
}

.btn:hover::before {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}

/* Mapa */
.map-container {
  position: relative;
  width: 50%;
  max-width: 600px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
  border: 2px solid white; /* Bordes blancos visibles */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno para las líneas */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Sombra para destacar */
  overflow: hidden; /* Asegura que el contenido quede dentro del contenedor */
}
.map-container iframe {
  width: 100%;
  height: 300px;
  border: none; /* Elimina el borde del iframe */
  border-radius: 8px; /* Ajusta los bordes del mapa */
  z-index: 1; /* Asegura que esté por encima del fondo */
}

/* Líneas decorativas */
.map-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent); /* Líneas en degradado */
  z-index: 0; /* Coloca las líneas detrás del mapa */
  pointer-events: none; /* Evita que interfieran con los clics */
}

/* Sección del mapa */
.map-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url('/img/fondo-mar.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  }

.map-title {
  font-size: 1.8rem;
  color: white; /* Texto en blanco */
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* Estilo para la sección del formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 0;
  padding: 50px;
  color: white;
}
.form-card {
  width: 80%; /* Ajusta el ancho según necesidad */
  max-width: 500px;
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

label {
  font-weight: bold;
  color: #666;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #f5c032;
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
}

.form-button {
  margin-top: 20px;
  padding: 15px;
  background: linear-gradient(45deg, #d4af37, #f5c032);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-button:hover {
  background: linear-gradient(45deg, #f5c032, #d4af37);
  box-shadow: 0 4px 15px rgba(255, 215, 0, 0.5);
}

/*Footer*/
footer {
  background-color: black; /* Fallback para navegadores sin soporte */
  background-size: cover;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2 rem;
}
.footer-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-column {
  width: 23%;
  margin-bottom: 20px;
}
.footer-description {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.6;
}
.footer-offset {
  margin-top: 35px;
}

.footer-left,
.footer-right {
  width: 100%;
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 15px;

}
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.subscribe-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #0056b3;
}
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 15px;
  color: white;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.contact-email, .location {
  margin-top: 10px;
}

.footer p{
  color: white;
}
/*FAQ*/

.text-center {
  color: WHITE;
}
.two-columns h2{
color: black;
}  
.section-title {
  text-align: center;
  background-color: #EBF6FA;
  z-index: 0;
  position: relative;
  background: linear-gradient(
    to bottom,
    #0E222D,  /* Azul inicial */
    #0A1A26,  /* Azul ligeramente más oscuro */
    #06131E   /* Azul profundo */
  );
}
.col-md-6.text-right{
  color: black;
}
.bg-light{
  background: linear-gradient(
    to bottom,
    #0E222D,  /* Azul inicial */
    #0A1A26,  /* Azul ligeramente más oscuro */
    #06131E   /* Azul profundo */
  )!important;
}
.two-columns {
  padding: 50px 0;
}

.two-columns img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.faq-section2 {
  display: flex; /* Activa flexbox */
  flex-direction: column; /* Asegura que los elementos estén en una columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  padding: 2rem; /* Espaciado interno */
  background-color: #f8f9fa; /* Fondo claro */
  text-align: center; /* Asegura que el texto esté centrado */
}
.faq-section2 .container2 {
  width: 100%;
  max-width: 90%px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra horizontalmente */
}

.faq-section2 h2 {
  font-size: 2rem; /* Tamaño del título */
  margin-bottom: 1rem; /* Espaciado debajo del título */
  color: #333; /* Color del texto */
}

.faq-section2 .accordion-button {
  color: #212529;
}

.faq-section2 .accordion-button:hover {
  background-color: #e9ecef;
  color: #000;
}
.py-5{
  margin-bottom: 0;
}
#cookieModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: white;
}
#cookieModal button {
  border-radius: 5px;
}
/*RESPONSIVE*/

@media (max-width: 768px) {
section.banner h1{
  font-size: 2rem;
}
section.banner .logo {
  width: 20vh;
  margin-top: 40px;
}
section.banner h2 {
  font-size: 1.5rem;
}
.reservation-form-wrapper {
  position: absolute;
  top: 42vh;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 5;
  width: 150%;
  background: transparent;
  padding: 20px;
  padding-left: 20px;
}
.luxury-title {
  font-size: 1.5rem;
}
.luxury-iconCard {
  width: 240px;
  height: 250px;
}
.luxury-icon {
  width: 70px;
  height: 70px;
  background-size: 40%;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(245, 192, 50, 0.5);
}

.slider-container {
  padding: 10px 5px;
}
.slider-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
}
.highlight-title{
  font-size: 2rem;
}
.info-row {
  flex-direction: column;  /* Cambia a columna en lugar de fila */
  width: 100%;
  margin-top: 30px;
}
.slider-with-arrows {
  width: 80%;
}
.slides img {
  width: 100%;
  height: auto;
}
.info-text {
  text-align: center;
  max-width: 90%;
  margin-bottom: 15px;
}
.info-text a{
  margin-top: 10px;
  display: inline-block;
}
.info-text h3 {
  font-size: 1.8rem;
  margin-top: 5px;
}
.info-text p {
  margin-top: 15px;
}
.info-text button {
  font-size: 1rem;
  padding: 10px 20px;
}

button.prev, button.next {
  font-size: 15px;
}
.map-form {
  background-attachment: scroll; /* Cambia el valor para móviles */
}
#reservation-btn {
  font-size: 0.8rem;
  padding: 8px 12px;
  max-width: 150px;
  border-radius: 5px;
  margin: 15px auto;
  text-align: center;
  background-color: linear-gradient (45deg, #d4af37, #f5c032);
}
.map-container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.form-card {
  width: 100%;
  max-width: 350px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.form-container form {
    width: 100%;
    height: auto;
}
.form-button {
  font-size: 1rem;
  padding: 12px 20px;
}
textarea {
  height: 70px;
}
.section-title {
  padding: 30px 10px; /* Reducir espaciado para móviles */
}

.section-title h1 {
  font-size: 1.5rem; /* Reducir el tamaño del título en móviles */
}

.section-title p {
  font-size: 0.9rem; /* Reducir el tamaño del texto */
  margin-bottom: 0;
  margin-top: 35px;
}
.col-md-6.text-right{
  margin-top: 35px;
}
.py-5{
  margin-bottom: 0;
  text-align: center;
  padding: 30px 10px;
}
.two-columns img{
  margin-bottom: 30px;
}
.section-two .text-left{
  margin-top: 35px;
}
.section-two .row {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
}
.section-two .image-right {
  order: 1; /* Coloca la imagen primero */
}
.section-two .text-left {
  order: 2; /* Coloca el texto después */
}

.footer-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-column {
  width: 100%;
  margin-bottom: 20px;
}
.subscribe-form {
  padding: 20px 0; /* Reducir el espacio en móviles */
}

.subscribe-form {
  display: flex;
  flex-direction: column; /* Elementos apilados en el formulario */
  align-items: center; /* Centra horizontalmente */
  gap: 10px; /* Espacio entre el campo y el botón */
}

.subscribe-input {
  width: 90%; /* Ajusta el ancho del campo de entrada */
  max-width: 300px; /* Limita el ancho máximo */
  padding: 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente adecuado */
}

.subscribe-button {
  width: 90%; /* Botón centrado con el campo de entrada */
  max-width: 300px; /* Limita el ancho máximo */
  padding: 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente adecuado */
}
}