/* General para la barra superior */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0E1724;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 1100;
    height: 80px;
}
.topbar .logo {
    max-height: 20px; /* Ajusta la altura máxima */
    max-width: 200px; /* Limita el ancho máximo */
    width: auto; /* Mantén las proporciones */
    height: auto; /* Evita distorsión */
    object-fit: contain; /* Ajusta cómo se renderiza dentro del contenedor */
}

.flag-icon {
    width: 15px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* Estilo para welcome */
.topbar--transparent {
    background-color: transparent;
    box-shadow: none;
}
.topbar--transparent .topbar__logo img {
    width: 20px; /* Tamaño más grande */
}

/* Menú de escritorio */
.nav-menu {
    display: flex;
    justify-content: flex-end; /* Alinea a la derecha */
    flex-grow: 1;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    margin-right: 20px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #f1c40f;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .value {
    cursor: pointer;
    font-weight: bold;
    color: white;
}
/* Dropdown específico para móvil */
.mobile-menu .dropdown .value {
    color: black; /* Texto negro en móvil */
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    width: 150px;
}

.dropdown:hover ul {
    display: block;
}

.dropdown ul li {
    margin: 5px 0;
}

.dropdown ul li a,
.dropdown ul li span {
    color: black;
    text-decoration: none;
    font-weight: normal;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el menú hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1002;
    position: fixed;
    right: 20px;
    top: 20px;
}
.hamburger-menu span {
    display: block;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Menú móvil */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 100%;
    background-color: white; 
    color: black; 
    z-index: 1100; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 20px; 
    overflow: hidden; 
    transition: right 0.3s ease-in-out; 
}

.mobile-menu.active {
    right: 0;
}
.mobile-menu .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 10px 0; /* Espaciado interno vertical */
    transition: background-color 0.3s ease, color 0.3s ease;

}
.mobile-menu ul li a:hover {
    color: #f1c40f;
}
/* Efecto para el icono hamburguesa activo */
.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsividad */
@media (max-width: 768px) {
    .topbar__logo {
        display: none; /* Ocultar el logo */
    }
    .nav-menu {
        display: none; /* Ocultar el menú de navegación */
    }
    .hamburger-menu {
        display: block; /* Mostrar el icono de hamburguesa */
    }
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1000;
        overflow-y: auto;
    }
    .mobile-menu.active {
        display: block;
    }
}
