.reviews-conditions-container {
    display: flex;
    gap: 2rem; /* Espacio entre columnas */
    padding: 2rem;
}

.reviews-section {
    flex: 1;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.reviews-section__title{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: black;
}
  
.reviews-section__owner {
    text-align: center;
    margin-bottom: 1rem;
    color: black;
}
  
.reviews-section__owner button {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.reviews-section__form {
    margin-bottom: 3rem;
    color: black;
  }
  
.reviews-section__form h3 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  
#review-text {
    width: 100%;
    height: 80px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
.review-stars {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.3rem;
  }
  
.star-rating {
display: flex;
direction: rtl;
gap: 0.5rem;
}
  
.star-rating input {
display: none;
}
  
.star-rating label {
font-size: 1.3rem;
color: #ccc;
cursor: pointer;
}
  
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ff9800;
  }
  
  .form-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .btn-submit-review {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.reviews-section__translate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
  }
  
.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    inset: 0;
    background: black;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }

input:checked + .slider {
    background-color: #59d102;
  }
  
input:checked + .slider:before {
    transform: translateX(1.5em);
    background-color: white;
  }
  
.reviews-section__list ul {
    list-style: none;
    padding: 0;
    color: black;
  }
  
.reviews-section__list li {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
  }
  
.review-stars-display {
    color: #ff9800;
  }
  